langchain
langchain-community
langchain-openai
faiss-cpu
pandas
PyPDF
python-dotenv
streamlit
apify-client
tavily-python
pydantic_ai
logfire
langgraph
langchain_core
langchain_tavily
openai
google-generativeai==0.8.5
google-ai-generativelanguage==0.6.18
langchain-google-genai==2.1.8
